@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Roboto:wght@300;500;700&display=swap');
// variable
$dark-orange: #E76F51;
$orange: #FF8A6C;
$pink: #FFD2C6;
$yellow: #FFB63B;
$dark-gray: #3B3735;
$light-gray: #8D8D8D;

$font-archivo: 'Archivo', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$normal-font-size: 1rem;
$medium-font-size: 1.125rem;
$big-font-size: 2.5rem;
$bigger-font-size: 2.8125rem;

$header-height: 8.125rem;

$z-back: -1;
$z-normal: 1;
$z-tooltip: 10;
$z-modal: 100;

// Clear css
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: $font-roboto;
    color: $light-gray;
    background-color: #FAF4F2;
    overflow: hidden;
}
// layout
.bd-grid{
    display: grid;
    grid-template-columns: 100%;
    max-width: 1518px;
    margin-left: 1.25rem;
    margin-right: 1.25rem;

}
@media screen and (min-width: 1518px){  
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}
// header
.header{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    &__background{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0 0 100px 100px;
        overflow: hidden;
        width: 100%;
        height: 85%;
        z-index: $z-back;
        &::before{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: $dark-gray;
            opacity: .5;
            line-height: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
        img{
            width: 100%;
            height: 85vh;
            object-fit: cover;
        }
    }
    &__information{
        text-align: center;
        width: 344px;
        color: white;
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__title{
        h2{
            font-size: $bigger-font-size;
            line-height: 61px;
        }
        margin-bottom: 20px;
    }
    &__description{
        line-height: 28px;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    &__button{
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        background-color: $dark-orange;
        padding: 13px 63px;
        border-radius: 25px;
        &:hover{
            box-shadow: 0px 0px 36px $dark-orange;
        }
        a{
            color: white;
        }
    }
    @media screen and (min-width: 768px) {
        &__background{
            height: 100%;
            border-radius: 0 0 200px 200px;
            img{
                height: 100vh;
            }
        }
        &__information{
            width: 580px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__title{
            h2{
                font-size: 5.0625rem;
                line-height: 6.8125rem;
            }
            margin-bottom: 30px;
        }
        &__description{
            line-height: 28px;
            padding: 0 50px;
            margin-bottom: 30px;
        }
    }
}

.nav{
    height: $header-height;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 50px;
        height: 50px;
        img{
            width: 100%;
        }
    }
    &__box{
        position: absolute;
        top: $header-height;
        right: -110%;
        transition: .4s;
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(16px);
        padding: 2.5rem;
        box-shadow: 0 0 26px #000000a8;
        z-index: $z-tooltip;
    }
    &__list{
        text-align: center;
    }
    &__item{
        margin-bottom: 1rem;
    }
    &__link{
        color: white;
    }
    &__button{
        a{
            display: block;
            text-align: center;
            color: white;
            margin-bottom: 1rem;
        }
    }
    &__link:hover, &__button a:hover{
        color: $dark-orange;
    }
    &__toggle{
        font-size: 2rem;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: $dark-orange;
        border-radius: 20px;
    }
    @media screen and (min-width: 768px){
        &__box{
            position: static;
            background-color: transparent;
            backdrop-filter: blur(0);
            padding: 0;
            box-shadow: none;
            z-index: $z-normal;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 49px;
        }
        &__item{
            margin-bottom: 0;
            margin-right: 40px;
            display: inline-block;
        }
        &__link{
            color: $light-gray;
            &:hover{
                color: white;
            }
        }
        &__button{
            a{
                display: inline-block;
                margin-bottom: 0;
            }
            &-signup{
                padding: 13px 36px;
                margin-right: 10px;
            }
            &-signin{
                padding: 13px 36px;
                border: 1px solid #FFF;
                border-radius: 25px;
                &:hover{
                    background-color: white;
                }
            }
        }
        &__toggle{
            display: none;
        }
    }
}
.show{
    right: 0;
}
// service
